.lead__figure-image {
    display: block;
    padding-top:64px;
    width:100%;
    max-width: 984px;
    max-height: 615px;
    margin:0 auto;    
}

@media screen and (max-width:1279px) {
    .lead__figure-image {
        padding-top:56px;
        max-width: 928px;
        max-height: 580px;
    }
}

@media screen and (max-width:1023px) {
    .lead__figure-image {
        min-height: 480px;
        min-width:768px;
        margin:0 -24px;
    }
}

@media screen and (max-width:767px) {
    .lead__figure-image {
        padding-top:40px;
        min-width: 320px;
        min-height: 200px;
        margin:0 -16px;
    }
}
