.lead__figure_image {
    display: block;
    padding-top:64px;
    width:100%;
    max-width: 984px;
    max-height: 615px;
    margin:0 auto;    
}

.lead__figure_image-caption {
    max-width: 160px;
    max-height: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top:8px;
}

@media screen and (max-width:1279px) {
    .lead__figure_image {
        padding-top:56px;
        max-width: 928px;
        max-height: 580px;
    }
}

@media screen and (max-width:1023px) {
    .lead__figure_image {
        min-height: 480px;
        min-width:768px;
        margin:0 -24px;
    }
}

@media screen and (max-width:767px) {
    .lead__figure_image {
        padding-top:40px;
        min-width: 320px;
        min-height: 200px;
        margin:0 -16px;
    }
}
